Django==1.5.1
pinax-theme-bootstrap==3.0a10
django-user-accounts==1.0b14
django-forms-bootstrap==2.0.3.post1
metron==1.1
eventlog==0.6.2
django-jsonfield==0.9.4

biblion==1.0.1
PIL==1.1.7
creole==1.2
Pygments==1.4

psycopg2==2.5.1
nashvegas==0.8b1

dj-database-url==0.2.2
gondor==1.2.4
gunicorn==17.5
