@media (min-width: 768px) {
    body {
        padding-top: 80px;
    }
}

footer {
    font-size: 14px;
    line-height: 16px;
    color: #777;
}

.help-block {
    color: #555;
    small {
        display: block;
        color: #777;
        line-height: 16px;
    }
}