@media (min-width: 768px) {
    body {
        padding-top: 80px;
    }
}

footer {
    font-size: 14px;
    line-height: 16px;
    color: #777;
}

.help-block {
    color: #555;
    small {
        display: block;
        color: #777;
        line-height: 16px;
    }
}

body.survey {
    header {
        margin-bottom: 50px;
        h1 {
            font-size: 32px;
            line-height: 32px;
            font-weight: normal;
            margin: 0;
        }
        .description {
            .muted;
            font-style: italic;
        }
    }
    input {
        margin-bottom: 0;
    }
    .help-block {
        font-size: 14px;
        .muted;
        font-style: italic;
    }
}

.dashboard-activity {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 5px 6px;
    h2 {
        font-size: 26px;
        line-height: 24px;
        font-weight: normal;
        margin: 0;
    }
    .description {
        .muted;
        font-style: italic;
    }
    pre {
        margin: 5px 0 1px;
        padding: 5px 5px;
        font-size: 12px;
        line-height: 16px;
    }
}