{% extends "site_base.html" %}

{% load bootstrap_tags %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_class %}two-choice-quiz{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8 offset2">
            <header>
                <h1>{{ title }}{% if question_number %}<span class="question-number">question {{ question_number }}/{{ num_questions }}</span>{% endif %}</h1>
                <div class="description">{{ description }}</div>
            </header>
            
            <form method="post" action=".">
                {% csrf_token %}
                <input type="hidden" name="question_number" value="{{ question_number }}">
                <div class="question">what is the {{ question.1 }} of {{ question.0 }}?</div>
                <div class="answers">
                    <button class="btn" name="answer" value="left">{{ question.2.0 }}</button>
                    <button class="btn" name="answer" value="right">{{ question.2.1 }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}