{% extends "site_base.html" %}

{% load bootstrap_tags %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_class %}survey{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8 offset2">
            <header>
                <h1>{{ title }}{% if page_number %}<span class="page-number">page {{ page_number }}/{{ num_pages }}</span>{% endif %}</h1>
                <div class="description">{{ description }}</div>
            </header>
            
            {% if help_text %}
                <div class="help_text">
                    {{ help_text|safe }}
                </div>
            {% endif %}
            
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <button class="btn btn-primary">Save</button>
                    <a href="{% url 'dashboard' %}" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}