{% extends "site_base.html" %}

{% load tz %}

{% block head_title %}Blog {{ section_name }}{% endblock %}

{% block body_class %}blog{% endblock %}

{% block body %}
    {% localtime off %}
    <h1><span style="font-weight: 300;">Learning</span><b>Greek</b> Blog</h1>

    <div class="row">
        <div class="col-md-7">
            {% if posts %}
                {% for post in posts %}
                    <div class="newsitem{% if forloop.last %} last{% endif %}">

                        <h2 class="blog-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

                        <div class="newsdate">
                            {% if post.published %}
                                {{ post.published|date }}
                            {% else %}
                                Not published yet
                            {% endif %}
                            by {{ post.author.get_full_name }}
                        </div>

                        <div class="blog-list-teaser">{{ post.teaser_html|safe }}</div>
                        <p class="more"><a href="{{ post.get_absolute_url }}" class="read-more">Read more...</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No blog posts have been published.</p>
            {% endif %}
        </div>

        <div class="col-md-4 col-md-offset-1">
            {% include "biblion/_sidebar.html" %}
        </div>
    </div>
    {% endlocaltime %}
{% endblock %}
