{% load account_tags %}

<div class="pull-right">
    <ul class="nav pull-right">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_settings' %}"><i class="icon-user"></i> Settings</a></li>
            {% if request.user.is_staff %}
                <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i class="icon-cog"></i> Admin</a></li>
                <li><a href="{% url 'staff_dashboard' %}"><i class="icon-cog"></i> Staff Dashboard</a></li>
            {% endif %}
            <li>
                <a id="account_logout" href="{% url 'account_logout' %}"><i class="icon-off"></i> Log out</a>
            </li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Log in</a></li>
            {% if ACCOUNT_OPEN_SIGNUP %}
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
