{% extends "site_base.html" %}

{% block head_title %}researching how to improve the way people learn Koine Greek{% endblock %}

{% block body_class %}dashboard{% endblock %}

{% block body %}
    
    <h1>Activities</h1>
    
    <div class="row">
        <div class="span6">
            <p class="lead">
                At the moment, this site is a small collection of surveys and brief assessments (collectively called <b>Activities</b>). Don&rsquo;t expect to learn too much at the moment&mdash;we&rsquo;re focused on building the platform and gathering some initial data. Over time there will be more learning experiments designed to actually teach new things. We&rsquo;re laying a foundation first.
            </p>
            
            {% include "_dashboard_adoption_level.html" %}
        </div>
        
        <div class="span6">
            
            {% if activities.inprogress %}
                <h2>In Progress</h2>
                {% for activity in activities.inprogress %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.available %}
                <h2>Available</h2>
                {% for activity in activities.available %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.completed %}
                <h2>Completed</h2>
                {% for activity in activities.completed %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.unavailable %}
                <h2>
                    Unavailable
                    <div class="subhead">not enough people have completed the activity given your adoption level setting</div>
                </h2>
                {% for activity in activities.unavailable %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            <p>Add <code>?debug</code> to URL to see activity state.</p>
            
        </div>
    </div>
{% endblock %}