{% extends "site_base.html" %}

{% block head_title %}researching how to improve the way people learn Koine Greek{% endblock %}

{% block body_class %}dashboard{% endblock %}

{% block body %}
    
    <h1>Activities</h1>
    
    <div class="row">
        <div class="span6">
            <p class="lead">
                At the moment, this site is a small collection of surveys and brief assessments (collectively called <b>Activities</b>). Don&rsquo;t expect to learn too much at the moment&mdash;we&rsquo;re focused on building the platform and gathering some initial data. Over time there will be more learning experiments designed to actually teach new things. We&rsquo;re laying a foundation first.
            </p>
            
            <p>
                Because so much of this site is experimental, we want to allow for different tolerances people may have for being on the &ldquo;bleeding edge&rdquo;. For this reason, you can go to <i class="icon-user"></i> <b>Settings</b> in the top right nav bar and set your <b>Adoption Level</b>. By default you are considered an <b>Early Adopter</b> which means you will be shown activities that have been tried out by <em>at least 10 people</em> already. If your tolerance for new, un-tested stuff is higher, you might consider changing your setting to <b>Bleeding Edge</b> which gives you immediate access (so there may be problems). If your tolerance is even lower than the default, you can set it to <b>Mainstream</b> which means <em>100 people</em> have to already have tried an activity before you can. Note that this means it may be a long time before activities are available to you. But it&rsquo;s up to you.
            </p>
        </div>
        
        <div class="span6">
            
            <p>Add <code>?debug</code> to URL to see activity state.</p>
            
            {% if activities.inprogress %}
                <h2>In Progress</h2>
                {% for activity in activities.inprogress %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.available %}
                <h2>Available</h2>
                {% for activity in activities.available %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.completed %}
                <h2>Completed</h2>
                {% for activity in activities.completed %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
            
            {% if activities.unavailable %}
                <h2>Unavailable</h2>
                {% for activity in activities.unavailable %}
                    {% include "_dashboard_activity.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}