{% extends "site_base.html" %}

{% block head_title %}researching how to improve the way people learn Koine Greek{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="span8 offset2">
    
            <h1>Learning Greek</h1>

            <p class="lead">
                I&rsquo;m building this site partly to <em>help people learn Koine Greek</em> and partly to <em>research how to improve the way people learn Koine Greek</em>.
            </p>
            
            <p>
                I&rsquo;m bringing together lessons learnt from <em>linguistics</em>, <em>learning sciences</em>, <em>MorphGNT</em>, <em>graded-reader</em>, <em>Quisition</em>, <em>Typewar</em> and more. This project will combine many of my interests and endeavours from the last twenty years.
            </p>

            <p>
                It will kick off with <em>short surveys and games</em> and will be built up incrementally with a strong focus on <em>gathering data and performing learning experiments</em>.
            </p>

            <p>
                I&rsquo;m <em>starting small</em> but have <em>ambitious goals</em>. I&rsquo;m eventually going to need a lot of people to use the site to get the data I need. But I also want to teach a lot of people Koine Greek.
            </p>

            <p>
                All the code will be <em>open source</em> and hopefully most of the content will be open as well. Data about individuals will not be public but data in the aggregate will be shared as potentially will de-personalized data.
            </p>

            <p>
                <em>Stay tuned.</em>
            </p>
        </div>
    </div>
{% endblock %}