{% extends "site_base.html" %}

{% block body_class %}dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Welcome!</h1>
            <p class="lead">
                At the moment, this site is a small collection of surveys and brief assessments (collectively called <b>Activities</b>). Don&rsquo;t expect to learn too much at the moment&mdash;we&rsquo;re focused on building the platform and gathering some initial data about what people already know. Over time there will be more learning experiments designed to actually teach new things. We&rsquo;re laying a foundation first.
            </p>

            <form method="post" action=".">
                {% csrf_token %}
                <button class="btn btn-primary" name="read_blurb">Got it!</button>
            </form>
        </div>
    </div>

{% endblock %}
