{% extends "theme_base.html" %}

{% load metron_tags %}
{% load staticfiles %}

{% block style_base %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,greek-ext,greek' rel='stylesheet' type='text/css'>
    <link href="{% static "learning_greek/css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
