{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}

{% block head_title %}researching how to improve the way people learn Koine Greek{% endblock %}

{% block style_base %}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,700&amp;subset=latin,greek-ext,greek" rel="stylesheet" type="text/css">
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block site_brand %}<a class="navbar-brand" href="{% url 'home' %}"><span style="font-weight: 300; color: #333;">Learning</span><span style="font-weight:700; color: #333;">GREEK</span></a>{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
            <li><a href="{# url 'dashboard' #}">Activities</a></li>
        {% endif %}
        <li><a href="{% url 'blog' %}">Blog</a></li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
